@import 'base.css';

li::marker {
  color: gray;
}

li {
  font-size: 1.125em;
  padding-left: 0.5em;
}

li:nth-child(even) {
  background-color: hsl(0, 0%, 17%);
}

ol {
  min-width: 50vw;
  text-align: left;
}

#output-wrapper {
  margin-block: 1em;
  border: gray 1px solid;
  padding: 1em;
  border-radius: 1em;
}
